/*********************************
Creating the circles and nesting the text within them
*/
body{
    background: url("../images/itBuilding.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

img{
    position: absolute;

}
h1 {
    display: none;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#fff;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 10px;
}

#wrapper {
    margin-top: 10px;
}
.rounded{
    border-radius: 50%;
}
.shape {
    height: 230px;
    width: 230px;
    background-color: #613f72;
    line-height:230px;
}

.shape2{
    height:482px;
    width:808px;
    background-color: #613f72;
    line-height:400px;
    text-align: center;
}

.row {
    display: flex;
}

.alignC {
    align-items: center;
    justify-content: center;
}

.shapeLB {
    margin-right: 400px;
    margin-top: -300px;
}

.shapeRB {
    margin-left: 400px;
    margin-top: -300px;
}

.shapeRT {
    margin-left: 400px;
    margin-bottom: -300px;
}

.shapeLT {
    margin-right: 400px;
    margin-bottom: -300px;
}

.shapeT {
    margin-bottom:50px;
}

.shapeB {
    margin-top:40px;
    margin-bottom: 0;

}

video {
    margin-top: 25px;
}



