/*********************************
Creating the circles and nesting the text within them
*/
body{
    background: url("../images/itBuilding.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

img{
    position: absolute;

}
h1 {
    display: none;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#fff;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 10px;
}

#wrapper {
    margin-top: 10px;
}
.rounded{
    border-radius: 50%;
}
.shape {
    height: 220px;
    width: 220px;
    border: 5px ridge black;
    background: #a16bbf; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a16bbf 0%, #613f72 61%, #613f72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a16bbf', endColorstr='#613f72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    line-height:220px;
}

.shape2{
    height:482px;
    width:808px;
    background: #a16bbf; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a16bbf 0%, #613f72 61%, #613f72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a16bbf', endColorstr='#613f72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    line-height:400px;
    text-align: center;
}

.row {
    display: flex;
}

.alignC {
    align-items: center;
    justify-content: center;
}

.shapeLB {
    margin-right: 400px;
    margin-top: -300px;
}

.shapeRB {
    margin-left: 400px;
    margin-top: -300px;
}

.shapeRT {
    margin-left: 400px;
    margin-bottom: -300px;
}

.shapeLT {
    margin-right: 400px;
    margin-bottom: -300px;
}

.shapeT {
    margin-bottom:50px;
}

.shapeB {
    margin-top:40px;
    margin-bottom: 0;

}

video {
    margin-top: 25px;
}



