/*********************************
Creating the circles and nesting the text within them
*/
body{
    background: url("../images/itBuilding.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

img{
    position: absolute;
    top: 4%;
    left: 4.5%;

}
h1 {
    display: none;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    line-height: normal;
    padding: 10px;
    font-size: 27px;

}
.shape h2{
    color:#fff;
    text-align: center;
    vertical-align: middle;
}

#wrapper {
    margin-top: 10px;
}
.rounded{
    border-radius: 50%;
}
.shape {
    height: 250px;
    width: 250px;
    border: 5px solid black;
    box-shadow:17px 11px 50px #000 ;
    background: #a16bbf; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a16bbf 0%, #613f72 61%, #613f72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a16bbf', endColorstr='#613f72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    line-height:250px;

}

.shape2{
    height: 472px;
    width: 800px;
    background: #a16bbf; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a16bbf 0%, #613f72 61%, #613f72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a16bbf', endColorstr='#613f72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    text-align: center;
    margin-top: 25px;
    border-radius: 5%;

}

.row {
    display: flex;
}

.alignC {
    align-items: center;
    justify-content: center;
}

.shapeLB {
    margin-right: 500px;
    margin-top: -300px;
}

.shapeRB {
    margin-left: 500px;
    margin-top: -300px;
}

.shapeRT {
    margin-left: 500px;
    margin-bottom: -300px;
}

.shapeLT {
    margin-right: 500px;
    margin-bottom: -300px;
}

.shapeT {
    margin-bottom:45px;
    margin-top: 5px ;
}

.shapeB {
    margin-top:110px;
    margin-bottom: 0;

}

video {
    margin-top: 18px;
    border-radius: 5%;
}



