
body{
    background: url("../images/itBuilding.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}


h1 {
    display: none;

}
h2{
    display: inline-block;
    line-height: normal;
    padding: 10px;
    font-size: 22px;
}

.shape h2{
    color:#fff;
    text-align: center;
    vertical-align: middle;
}

p{
    font-size: 18px;
}

#wrapper {
    margin-top: 10px;
}

img.logo{
    position: absolute;
    top: 25px; /* 50px */
    left: 64px;/* 85px */
}

#psd,
#fx,
#bvp,
#cd {
    width: 70%;
}



/*********************
****CSS Grid Layout***
**********************/

.container-grid {
    display: grid;
    grid-template-rows:[header] 90px [course] 217px [paddingT] 10px [courseDesc] 75px [paddingB] 10px
    [row4] 217px [row5] 158px [buffer] 60px [foot] 20px;
    grid-template-columns: [colLeft] 216px [colMiddleLeft] 504px [colMiddleRight] 504px [colRight] 216px;
}

.course-row {
    border: 5px solid black;
    border-radius: 10px;
    background: #613f72;
    grid-column: colMiddleLeft / span colRight;
    grid-row: course;
}

.course-row h2,
.course-row h3{
    display: block;
    text-align: center;

}

.course-row h2 {
    font-size: 30px;
}


.course-row h4 {
    padding-left: 10px;
    font-size: 17px;
}

.course-desc {
    grid-row: courseDesc;
    grid-column: colMiddleLeft / span colRight;
    background: rgba(97, 63, 114, .6);
    border-radius: 50%;
}

.course-desc p {
    text-align: center;
    padding-top: 15px;
}

.course-content{
    background: rgba(0,0,0,.5);
    grid-column: colMiddleLeft / span colRight;
    grid-row: row4 / span buffer;
}

.course-left {
    grid-column: colMiddleLeft;
    grid-row: row4 / span foot;
    padding:10px;
}

.course-center {
    grid-column: colMiddleLeft / span colRight;
    grid-row: row4 / span foot;
}

img.course-left {
   width: 487px; /*650px*/
   margin-left: -5px;
}

.course-right {
    grid-column: colMiddleRight;
    grid-row: row4 / span foot;
    padding:10px;

}

img.course-right {
    width: 487px; /*650px*/
    margin-left: -12px;
}

img.gcom {
    width: 400px;
    margin-left: 100px;
}


.footer {
    grid-row: foot;
    grid-column: colMiddleLeft / span colRight;
}

.footer a {
    position: relative;
    left: 465px; /*620px*/
    top:10px;
    font-size: 25px;
    margin-top: 5px;
    padding: 5px;
    width: 7.1005em;
    background: rgb(97, 63, 114);
    border-radius: 5px;
    box-shadow: inset 0 30px 10px rgba(97,63,114,1), 0 4px 0 rgba(0,0,0,.6);
    color: #fff;
    border: 1px solid #3b254b;
}



/***********************
****Landing Page*********
****Design Structure*****
***********************/


.rounded{
    border-radius: 50%;
}

.shape {
    height: 190px; /*250px*/
    width: 190px; /*250px*/
    border: 5px solid black;
    box-shadow:1px 1px 50px #000 ;
    background: #a16bbf; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a16bbf 0%, #613f72 61%, #613f72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a16bbf', endColorstr='#613f72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    line-height: 190px; /*250px*/

}

.shape2{
    height: 354px; /*472px*/
    width: 600px; /*800px*/
    background: #a16bbf; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a16bbf 0%, #613f72 61%, #613f72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a16bbf 0%,#613f72 61%,#613f72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a16bbf', endColorstr='#613f72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    text-align: center;
    margin-top: 25px;
    border-radius: 5%;

}

.row {
    display: flex;
}

.alignC {
    align-items: center;
    justify-content: center;
}

.shapeLB {
    margin-right: 375px; /*500px*/
    margin-top: -225px; /* -300px */
}

.shapeRB {
    margin-left: 375px; /*500px*/
    margin-top: -225px; /* -300px */
}

.shapeRT {
    margin-left: 375px; /*500px*/
    margin-bottom: -225px; /* -300px */
}

.shapeLT {
    margin-right: 375px; /*500px*/
    margin-bottom: -225px; /* -300px */
}

.shapeT {
    margin-bottom: 20px; /* 45px */
    margin-top: 1px ;
}

.shapeB {
    margin-top: 82px; /* 110px */
    margin-bottom: 0;

}

#graduation {
    margin-top: 18px; /* 18px */
    border-radius: 5%;
    width: 567px; /* 768px */
    height: 324px; /* 432px */
}



